*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    height: 200vh;
    width: 100%;
    background-color: #131418;
}
#nav{
    height: 70px;
    width: 100%;
    background-color: #282c34;
    box-shadow: 0 5px 10px #090909;
    font-size: 18px;
    position: fixed;
    top: 0px;
    transition: 0.3s ease;
    z-index: 2;
}
.nav-container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.logo img{
    height: 50px;
    width: 50px;
}

.nav-list ul{
    display: flex;
    list-style-type: none;
}
.nav-list ul li{
    margin-left: 60px;
}
.nav-list ul li a{
    color: #61dafb;
    text-decoration: none;
    transition: all 0.2s;
}
.nav-list ul li a:hover{
    text-shadow: 1px 0 10px #4191a7;
}
.bars i{
    color: #61dafb;
    font-size: 30px;
    cursor: pointer;
}
.bars{
    display: none;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1a1c22;
    transform: translateY(-100%);
    align-items: center;
    transition: all 0.8s ease;
    color: #61dafb;
}
.burger-menu.active{
    transform: translateY(0);
}
.close-burger{
    padding: 15px 20px 0 0;
    height: 5%;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}
.button-close-burger{
    cursor: pointer;
}
.burger-menu-list{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger-menu-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.burger-menu-list a{
    text-decoration: none;
    color: #61dafb;
}

.container{
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-shadow: 0 -5px 5px #131418;
}
.content{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glav-text{
    text-align: center;
    font-size: 28px;
    color: #61dafb;
}
.glav-text h1{
    animation-name: scrolltext1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.glav-text p{
    animation-name: scrolltext2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.glav-text button{
    animation-name: scrolltext3;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.glav-text button{
    height: 50px;
    width: 150px;
    cursor: pointer;
    margin-top: 15px;
    border: 2px solid #61dafb;
    background-color: #131418;
    color: #61dafb;
    transition: all 0.2s;
}
.glav-text button:hover{
    box-shadow: 1px 0 10px #4191a7;
}
.hidden-block{
    height: 100vh;
    width: 100%;
    opacity: 1;
}
.glav-content{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1a1c22;
    box-shadow: 0 -5px 10px #0f0f0f;
}
@media (max-width:1200px){
    .nav-container{
        max-width: 992px;
    }

}
@media (max-width:992px){
    .nav-container{
        max-width: 768px;
    }
    .bars{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .glav-text{
        text-align: center;
        font-size: 18px;
        color: #61dafb;
    }

}
@media (max-width:768px){

}

@keyframes scrolltext1 {
    0%{
        opacity: 1;
    }
    1%{
        transform: translateY(150px);
        
        opacity: 0;
    }
}
@keyframes scrolltext2 {
    0%{
        opacity: 1;
    }
    1%{
        transform: translateY(250px);
        
        opacity: 0;
    }
}
@keyframes scrolltext3 {
    0%{
        opacity: 1;
    }
    1%{
        transform: translateY(300px);
        
        opacity: 0;
    }
}
body::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #131418;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #61dafb;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid #131418;
  }



