*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    height: 300vh;
    width: 100%;
    background-color: #1a1c22;
}
#nav{
    height: 70px;
    width: 100%;
    background-color: #282c34;
    box-shadow: 0 5px 5px #131418;
    font-size: 18px;
    position: fixed;
    top: 0px;
    transition: 0.3s ease;
}
.nav-container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.logo img{
    height: 50px;
    width: 50px;
}

.nav-list ul{
    display: flex;
    list-style-type: none;
}
.nav-list ul li{
    margin-left: 60px;
}
.nav-list ul li a{
    color: #61dafb;
    text-decoration: none;
    transition: all 0.2s;
}
.nav-list ul li a:hover{
    text-shadow: 1px 0 10px #4191a7;
}
.bars i{
    color: #61dafb;
    font-size: 30px;
    cursor: pointer;
}
.bars{
    display: none;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1a1c22;
    transform: translateY(-100%);
    align-items: center;
    transition: all 0.8s ease;
    color: #61dafb;
}
.burger-menu.active{
    transform: translateY(0);
}
.close-burger{
    padding: 15px 20px 0 0;
    height: 5%;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    cursor: pointer;
}
.burger-menu-list{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger-menu-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.burger-menu-list a{
    text-decoration: none;
    color: #61dafb;
}


.container{
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.content{
    width: 100%;
    height: 100%;
}
.section1{
    height: 100vh;
    width: 100%;    
    display: flex;
}
.section1-1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-top: 220px;
}
.glav-text{
    color: #61dafb;
    font-size: 40px;
}
.glav-text p{
    font-size: 28px;
}
.section1-2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.section1-2 img{    
    width: 100%;
    object-fit: cover;
}

@media (max-width:1200px){
    .nav-container{
        max-width: 992px;
    }
    .glav-text{
        font-size: 26px;
    }
    .glav-text p{
        font-size: 22px;
    }
}
@media (max-width:992px){
    .nav-container{
        max-width: 768px;
    }
    .bars{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .section1-1{
        margin-top: 280px;
    }
    /* .glav-text{
        font-size: 16px;
    }
    .glav-text p{
        font-size: 14px;
    } */
}
@media (max-width:768px){

    .glav-text{
        font-size: 16px;
    }
    .glav-text p{
        font-size: 14px;
    }
}




